main {
    padding: 70px 0;
    text-align: center;
}

.ficha-cliente {
    border: 2px dashed black;
    padding: 1em 2em;
    display: inline-block;
    box-sizing: border-box;
    text-align: initial;
    margin: 2em;
}

.main__boas-vindas, .titulo-da-div {
    margin-bottom: 1em;
}

.todas-as-contas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.dados-de-cada-conta {
    padding: 0 0.5em;
    margin: 0 0.25em;
    cursor: pointer;
}

.ficha-cliente__dado {
    margin: 1em 0;
}

.selecionado {
    border: 3px solid var(--dourado);
}
